body{
    background-color: rgb(114, 114, 114);
    background-image: url("img/body.png");
}
h1#TituloPrincipal{
    background: rgb(2, 55, 116);
    color:white;
    font: normal 30px arial black;
    text-align: center;
    padding: 10px;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    line-height: 90px;
}
section#esquerda{
    text-align: center;
    width: 30%;
    float: left;
    background: rgb(181, 181, 181);
    color: black;
    height: 700px;
    margin-left: -8px;
}
#tabela{
    width: 100%;
    padding: px;
    font: normal 20px arial;
}
#tr1{
    background: rgb(2, 55, 116);
    color: white;
    
}
section#centro{
    width: 40%;
    color: white;
    background: rgb(92, 123, 223);
    font: normal 25px arial;   
    height: 700px;
    float: left;
    text-align: left;
    margin-left: 8px;
}
section#direita{
    background: rgb(181, 181, 181);
    text-align: justify;
    color: black;
    width: 30%;
    float: right;
    font: normal 18px arial;
    height: 700px;
    margin-right: -8px;
}
#peso{
    border-radius: 8px;
}
#altura{
    border-radius: 8px;
}
#botao{
    margin-top: 30px;
    border-radius: 8px;
    padding: 5px;
}
#res{
    font-family: Segoe UI;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    text-align: left;
}
#resultado{
    text-align: right;
}
    




